## Import libraries

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for statistical data visualization
%matplotlib inline

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('C:/Users/User/Desktop/KT_2022/Clustering'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:/Users/User/Desktop/KT_2022/Clustering\clustering.ipynb
C:/Users/User/Desktop/KT_2022/Clustering\Hands-on clustering.ipynb
C:/Users/User/Desktop/KT_2022/Clustering\Live.csv

## Import Dataset

In [2]:
data = 'C:/Users/User/Desktop/KT_2022/Clustering/Live.csv'

df = pd.read_csv(data)

## Check Dataset and Remove Missing Values

In [ ]:
## Write your code

## Declare feature vector and target variable

In [7]:
X = df

y = df['status_type']

## Convert categorical variable into integers

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

X['status_type'] = le.fit_transform(X['status_type'])

y = le.transform(y)

In [9]:
df

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,246675545449582_1649696485147474,3,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,246675545449582_1649426988507757,1,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,246675545449582_1648730588577397,3,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,246675545449582_1648576705259452,1,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,246675545449582_1645700502213739,1,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,1,9/24/2016 2:58,89,0,0,89,0,0,0,0,0,NaN,NaN,NaN,NaN
7046,1050855161656896_1061334757275603,1,9/23/2016 11:19,16,0,0,14,1,0,1,0,0,NaN,NaN,NaN,NaN
7047,1050855161656896_1060126464063099,1,9/21/2016 23:03,2,0,0,1,1,0,0,0,0,NaN,NaN,NaN,NaN
7048,1050855161656896_1058663487542730,1,9/20/2016 0:43,351,12,22,349,2,0,0,0,0,NaN,NaN,NaN,NaN
7049,1050855161656896_1050858841656528,1,9/10/2016 10:30,17,0,0,17,0,0,0,0,0,NaN,NaN,NaN,NaN

## Do features scaling

In [10]:
cols = X.columns

In [ ]:
from sklearn.preprocessing import MinMaxScaler

ms = MinMaxScaler()

X = ms.fit_transform(X)

In [ ]:
X = pd.DataFrame(X, columns=[cols])

In [ ]:
X.head()

## Apply Elbow Method using KMeans clustering to find optimal number of clusters

In [ ]:
# Write Your code

## Apply the KMeans clustering using chosen number of clusters (Check the accuracy)

In [ ]:
# Write your code

## Plot  clustering

In [ ]:
#A 3D Projection Of Data In The Reduced Dimension
x =X["num_reactions"]
y =X["num_comments"]
z =X["num_shares"]
#To plot
fig = plt.figure(figsize=(10,8))
ax = fig.add_subplot(111, projection="3d")
ax.scatter(x,y,z, c=labels, marker="o", cmap='twilight_shifted'  )
ax.set_title("Number of reactions VS Number of comments VS Number of shares")
ax.set_xlabel("num_reactions")
ax.set_ylabel("num_comments")
ax.set_zlabel("num_shares")
plt.show()